.where-is-waldo {
  background-color: black;
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  position: relative;
}

.where-is-waldo img {
  position: relative;
  max-width: 100%;
  height: auto;
  cursor: crosshair;
}

.not-found-target {
  background-color: rgb(202, 133, 133);
}

.found-target {
  background-color: lightgreen;
  font-style: italic;
}